<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.twofortyfouram.test"
          android:versionCode="1"
          android:versionName="1.0">

    <application tools:ignore="AllowBackup">
        <activity android:name=".ui.activity.FragmentTestActivity"/>
    </application>

</manifest>
